body { 
    font-family: 'IBM Plex Mono', monospace;
    background-color: rgb(50, 50, 50);
    background-color: rgb(255, 246, 227);
    justify-content:center;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header{
    width:100%;
    padding-left: 5%;
    padding-top: 15px;
    align-items: center;
    gap:10px;
}

.linea {
    clear: both;
    border: none;
    height: 1px;
    background-color: black;
    margin-top:20px;
    margin-bottom: 20px;
    display: block;
    width: 62%;
}

.navbar {
    background-color: rgb(195, 56, 64);
    background-color: rgb(103, 148, 153);
    position:fixed;
    top: 0;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 1000;
    margin-bottom: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-left: 33%;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(195, 56, 64);
    background-color: rgb(103, 148, 153);
    color: rgb(100, 100, 100);
}

.footer-principale {
    width: 100%;    
    background-color: rgb(195, 56, 64);
    background-color: rgb(103, 148, 153);
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 2  0px 0;
    padding: 20px 0;
    bottom:0;
    margin-top: 100px;
}

.link{
    color:rgb(195, 56, 64); 
}

.link:hover{
    color:rgb(214, 120, 125);
}

.sfondoHome{
    border-radius: 8px;
    display: block;
    max-width: 100%;
    height: auto;
}

.titoloPagina{
    padding: 0px;
    margin-left: 29%;
    margin-top: 5%;
    width: auto;
}

.contenutoPagina{
    padding: 0px;
    margin-left: 35%;
    width: 35%;
    flex: 1;
    height: auto;
}

.sottotitolo{
    color: rgb(103, 148, 153);
}

.sottotitoloHREF{
    color: rgb(103, 148, 153);
}

.sottotitoloHREF:hover{
    color: rgb(55, 91, 95);
}

.contenitoreEsercizio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 50px;

}

.descrizioneEsercizio{
    width:50%;
}

.immagineEsercizio{
    width: 20%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

