main{
    width: 100%;
}
.header{
    background-color: rgb(10, 134, 62);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0px;
    padding-top: 60px;
}

.titolo{
    color:rgb(255, 248, 236);
    text-align: center;
}

.corpo{
    height: 650px;
    text-align: center;

}

.txt1{
    padding-top:50px;
}

img{
    margin: 10px;
    border-radius: 10px;
}   